@(amount: String)(implicit requestHeader: RequestHeader)

@bankLayout("Yorkshire Bank - Authorise HMRC") {

    <div class="content__body">
        <h1 class="heading-xlarge">Yorkshire Bank</h1>

        <p>HMRC has requested £@amount to be debited from your account.</p>
        <p>Please select an account to debit this amount from:</p>

        <label><h3>Please select an account</h3></label>
        <select id = "myList">
            <option value = "normal">1000101 (Balance £120,000)</option>
            <option value = "savings-account">20202020 (Balance £100,000)</option>
        </select>

        <p>Please click approve to grant access or cancel to deny access.</p>

        <p>
            <a class="button button--get-started" href="@routes.PaymentCompleteController.index()" role="button">Approve</a>
            <a class="button button--get-started"  role="button">Cancel</a>
        </p>
    </div>
}
