@()

@layout("Select your bank account") {

    <div class="content__body">
        <h1 class="heading-xlarge">Flat-rate Automated Transfer for VAT
            <br/>(FAT-VAT)</h1>

        <p>To calculate your VAT bill, HMRC needs to connect to your bank account. Please select from the list of Open Banking providers.</p>

        <p>Once you have selected your bank account provider, HMRC will use your bank account transaction history to automatically generate your VAT bill.</p>

        <label><h3>Please select your Bank</h3></label>
        <select id = "myList">
            <option value = "barclays">Barclays</option>
            <option value = "first-direct">First Direct</option>
            <option value = "hsbc">HSBC</option>
            <option value = "natwest">Natwest</option>
            <option value = "rbs">RBS</option>
            <option value = "yorkshire">Yorkshire Bank</option>
        </select>
        <p>
            <a class="button button--get-started"  role="button">Continue</a>
        </p>
    </div>
}
