@()(implicit header: RequestHeader)

@layout("Select your bank account") {

    <div class="content__body">
        <h1 class="heading-xlarge">Flat-rate Automated Transfer for VAT
            <br/>(FAT-VAT)</h1>

        <p>To calculate your VAT bill, HMRC needs to connect to your bank account.</p>

        <p>Once you have selected your bank account provider, HMRC will use your bank account transaction history to automatically generate your VAT bill.</p>

        @helper.form(action = routes.BankSelectionController.submit()) {
            @helper.CSRF.formField
            <label><h3>Please select your Bank</h3></label>
            <select id = "myList" name="bank">
                <option value = "barclays">Barclays</option>
                <option value = "first-direct">First Direct</option>
                <option value = "hsbc">HSBC</option>
                <option value = "natwest">Natwest</option>
                <option value = "rbs">RBS</option>
                <option value = "yorkshire">Yorkshire Bank</option>
            </select>

            <button type="submit">Submit</button>
        }
    </div>
}
