@(liUser: String, preferences: Option[Preferences])(implicit requestHeader: RequestHeader)
@layout("Change your organisation's contact email address", Option(liUser)) {

    <div class="content__body">

        <div class="form-group">
            <a class="link-back back-to-previous" href="javascript:history.back();">Back</a>
        </div>

        <h1>Manage your organisation's contact details</h1>

        <p>Use this space to keep us up to date with your organisations's contact details. This will help us to send any important communication regarding your account.</p>

        <br>

        <div class="divider--bottom"></div>

        <br>

        <p><strong>Organisation: </strong>HMRC, Example Department Name</p>

        <table class="table table-font-xsmall">
            <caption class="heading-medium table-heading visuallyhidden">
                Account settings
            </caption>
            <thead class="table-field-headings">
                <tr>
                    <th scope="col" class="table-field-heading-first">
                        <span class="visuallyhidden">Setting</span>
                    </th>

                    <th scope="col" class="table-field-heading">
                        <span class="visuallyhidden">Value</span>
                    </th>

                    <th scope="col" class="table-field-heading">
                        <span class="visuallyhidden">Link to change</span>
                    </th>
                </tr>
            </thead>
            <tbody >
                <tr class="table-row">
                    <td class="table-field-center-aligned">
                        <div>Email address</div>
                    </td>

                    <td class="table-field-center-aligned">
                        <div>@preferences.map(_.notificationEmail).getOrElse("No email provided")</div>
                    </td>

                    <td class="table-field-right-aligned">
                        <div><a href="@controllers.routes.PreferencesController.editEmail()" id="change-email">Change</a></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

  @partials.rightSideBar(Some(liUser))
}

