@(liUser: String, dlFiles: Seq[String], hasEmailAddress: Boolean)(implicit requestHeader: RequestHeader)
@layout("Your Download Files", Option(liUser)) {

    <div class="content__body">
        <div class="form-group">
            <a class="link-back back-to-previous" href='@controllers.routes.SdesController.vLandingPage()'>Back</a>
        </div>

        <h1>Download your documents from HMRC</h1>

        @if(!hasEmailAddress) {
            <p>If you’d like us to email you when your dashboard changes <a id="update-email" href="@controllers.routes.PreferencesController.contactDetails()">
                tell us your email address</a>. </p>
        }

        <p>Use this section to download documents that have been sent to you from HMRC.</p>
        <p>These files will only be available for a maximum of 6 days.</p>
        <br>

        <section class="section downloads-available downloads-available-more">
            <ul>
                <li>
                    <span class="filename bold-small">File name</span>
                    <span class="download-button bold-small">Action</span>
                </li>

              @for(file <- dlFiles) {
                <li>
                    <span class="filename">
                        @file
                    </span>
                    <span class="download-button">
                        <a href='@controllers.routes.RedirectController.download(file)'>Download</a>
                    </span>
                </li>
              }
            </ul>
        </section>
    </div>

  @partials.rightSideBar(Some(liUser))
}
