@()

@layout("Pay Your VAT") {

    <div class="content__body">
        <h1 class="heading-xlarge">Flat-rate Automated Transfer for VAT
            <br/>(FAT-VAT)</h1>

        <p>HMRC’s FAT-VAT allows you to calculate and pay your flat rate VAT securely.</p>

      
        <div class="alert alert--info">
            <p class="alert__message">You must be both registered to use the service and have a
                <a href="#">Government Gateway</a> account - you’ll have one if you’ve used HMRC online services before.</p>
        </div>

        <p>
            <a class="button button--get-started" href='@routes.LoginController.index' role="button">Start now</a>
        </p>
    </div>
}
