@()

@layout("Pay Your VAT") {

    <div class="content__body">
        <h1 class="heading-xlarge">Flat-rate Automated Transfer for VAT
            <br/>(FAT-VAT)</h1>

        <p>HMRC’s FAT-VAT allows you to securely calculate your flat rate VAT and pay your flat rate VAT.</p>

        <details>
            <summary role="button" aria-expanded="false">
                <span class="summary">Some Help</span>
            </summary>
            <div class="panel-indent" id="details-content-1">
                <p>Some hidden <a rel="external" href='#'>links to resources</a> and explanatory copy.
                </p>
            </div>
        </details>

        <div class="alert alert--info">
            <p class="alert__message">You must be both registered to use the service and have a
                <a href="#">Government Gateway</a> account - you’ll have one if you’ve used HMRC online services before.</p>
        </div>

        <p>
            <a class="button button--get-started" href='@routes.LoginController.index' role="button">Start now</a>
        </p>
    </div>
}
