@(authorisedUser: Option[String]=None)(implicit requestHeader: RequestHeader)

@layout("Terms and Conditions", authorisedUser) {

<article class="content__body">
    <header class="page-header">
        <h1>Full terms and conditions</h1>
    </header>
    <div class="subsection subsection--wide">
        <p>Your organisation must:</p>
        <ul class="bullets">
            <li>help to make sure that the service isn’t compromised</li>
            <li>complete the registration process before using the service</li>
        </ul>
        <p>We’ll only use information we collect through this service for internal review. We won’t share it with other organisations for commercial reasons. See the privacy policy for details.</p>
        <p>We may change these terms and conditions as the service develops.</p>
        <p>By using this service, your organisation is confirming that it has read and agreed to the:</p>
        <ul class="bullets">
            <li>
                <a href="https://www.tax.service.gov.uk/help/terms-and-conditions" target="_blank">HMRC website terms and conditions</a>
            </li>
            <li>
                <a href="https://www.tax.service.gov.uk/information/terms" target="_blank">HMRC terms and conditions</a>
            </li>
        </ul>
    </div>
    <div class="subsection subsection--wide">
        <h2>Agents</h2>
        <p>Agents must follow the rules laid out for them in the
            <a href="https://www.tax.service.gov.uk/information/terms#agent" target="_blank">HMRC terms and conditions</a>.</p>
    </div>
    <div class="subsection subsection--wide">
        <h2>Applicable law</h2>
        <p>These terms and conditions are governed by and construed in accordance with the laws of England and Wales and any dispute in relation to these terms and conditions will be subject to the exclusive jurisdiction of the courts of England and Wales.</p>
    </div>
    <div class="subsection subsection--wide">
        <h2>Authorised use</h2>
        <p>This is a protected United Kingdom Government website. Unauthorised access and unauthorised modification are offences under the Computer Misuse Act 1990. It’s therefore unlawful to cause damage to it intentionally or to any HMRC electronic
            facility or data through the knowing transmission of any program, information, code or command.</p>
    </div>
    <div class="subsection subsection--wide">
        <h2>Data files</h2>
        <p>Data files that we send are unencrypted. Your organisation is responsible for storing them securely.</p>
        <p>When your organisation sends a data file to us, it must:</p>
        <ul class="bullets">
            <li>have been agreed between the parties and provision made for their processing</li>
            <li>follow the naming standards</li>
            <li>be virus and malware free</li>
            <li>not be an executable file</li>
        </ul>
        <p>Any data files your organisation sends to us must be complete. We must be able to be view them.</p>
        <p>If they’re incomplete or we can’t view them, your obligation to provide information may not be satisfied. We’ll let you know as soon as possible if this happens, but we can’t guarantee to let you know in time to avoid penalties.</p>
    </div>
    <div class="subsection subsection--wide">
        <h2>Online information services</h2>
        <p>You can give permission to another company to see your liabilities and payments records. Pension Scheme Administrators can also let practitioners act on their behalf.</p>
        <p>It’s your responsibility to keep us up to date, and to contact us if you want to cancel the authority of another company to see your records.</p>
        <p>We can’t accept any liability that comes from your failure to keep us informed about authority changes.</p>
    </div>
    <div class="subsection subsection--wide">
        <h2>Security</h2>
        <p>Your organisation must:</p>
        <ul class="bullets">
            <li>tell us straight away if a user ID or password for the service is lost, stolen or could be used by someone outside your organisation</li>
            <li>use systems and processes that meet our interface and design specifications</li>
        </ul>
        <p>Your organisation must not use the service for data that’s classified as Secret in line with Government Security Classifications unless:</p>
        <ul class="bullets">
            <li>it has already been agreed in advance with us</li>
            <li>we’ve confirmed that your organisation has the necessary approvals</li>
        </ul>
    </div>
    <div class="subsection subsection--wide">
        <h2>Service access</h2>
        <p>We’ll try to make sure that the service is available 24 hours a day, 7 days a week. If the service is interrupted we’ll restore it as soon as possible. However we may suspend access without giving your organisation notice.</p>
        <p>We may also withdraw or add features or change the way you access the service without giving your organisation notice, although we’ll try to warn you about any changes.</p>
        <p>If the service is disrupted, it’s your organisation’s responsibility to meet any deadlines for the filing of statements and returns.</p>
        <p>We reserve the right to deny access where it’s necessary to protect the revenue or the service.</p>
        <p>We won’t be liable for any disruption or failure to make the system available.</p>
    </div>
    <div class="subsection subsection--wide">
        <h2>Statutory notices, reminders and certificates</h2>
        <p>Statutory notices that we put on the internet have the same legal validity and implications as paper notices we send by post.</p>
    </div>
</article>

}