@import helper._

@(liUser: String, hasEmailAddress: Boolean)(implicit requestHeader: RequestHeader)
@layout("Your Upload Files", Option(liUser)) {

    <div class="content__body">

        <div class="form-group">
            <a class="link-back back-to-previous" href='@controllers.routes.SdesController.vLandingPage()'>Back</a>
        </div>

        <h1 id="page-title">Upload Documents</h1>

        @if(!hasEmailAddress) {
            <p>If you’d like us to email you when your dashboard changes <a id="update-email" href="@controllers.routes.PreferencesController.contactDetails()">
                tell us your email address</a>. </p>
        }
        <div id="upload--restrictions">
            <p>You can't upload documents that:</p>

            <ul class="bullets">
                <li>have the extension .exe</li>
                <li>are encrypted</li>
                <li>are larger than 10GB</li>
            </ul>
        </div>
        <div id="table"></div>
        <div id="dragandrop" class="dragDrop">
            <div class="form-group">
                <br>
                <label id="file-label" class="form-label bold" for="file">
                Drag and drop files here
                </label>
                <label class="form-label">
                <small>or</small>
                </label><br>
                <form id="uploadForm" method="POST" action="myurl" for="file-input">
                    <span class="button--table fileinput-button">
                    <span>Choose files to upload</span>
                    <input type="hidden" id= "_csrf" name="_csrf" class="csrf" value="#csrf_token"/>
                    <input multiple="" id="file" type="file" name="file[]">
                    </span>
                </form>
            </div>
        </div>
    </div>

    @partials.rightSideBar(Some(liUser))
}
