@(vat: VatCalc)

@layout("Your Flat-rate VAT calculation") {

    <div class="content__body">
        <h1 class="heading-xlarge">Your Flat-rate VAT Calculation</h1>
        <p>Based on your transaction history, HMRC has calculated your Flat-rate VAT using a Flat-rate percentage of 16.5%</p>
        <h2>Transaction History</h2>
        <table style="width:100%">
             <tr>
                <th>Date</th>
                <th>Income</th>
                <th>Amount liable for VAT</th>
             </tr>
            @vat.transactions.map{tran =>
                <tr>
                    <td>@{tran.date}</td>
                    <td>£@{tran.value.formatted("%1.2f")}</td>
                    <td>£@{tran.vat.formatted("%1.2f")}</td>

                </tr>
            }


        </table>
                    </br>
        <p>Flat-rate VAT amount due: £@{vat.amountDue.formatted("%1.2f")}</p>

        <p>If you agree with this amount, please click continue to be directed to your bank and approve payment.</p>
        <p>
            <a class="button button--get-started" href="@routes.BankApprovePaymentController.index(vat.amountDue.formatted("%1.2f"))" role="button">Continue</a>
        </p>
    </div>
}
