@(transactions: String)

@layout("Your Flat-rate VAT calculation") {

    <div class="content__body">
        <h1 class="heading-xlarge">Your Flat-rate VAT Calculation</h1>
        @transactions
        <p>Based on your transaction history, HMRC has calculated your Flat-rate VAT using a Flat-rate percentage of 16.5%</p>
        <h2>Transaction History</h2>
        <table style="width:100%">
             <tr>
                <td>30/09/2017</td>
                <td>£7,000</td>
                <td>credit</td>
                <td>£1,155</td>
            </tr>
                <td>02/10/2017</td>
                <td>£5,000</td>
                <td>credit</td>
                <td>£825</td>
            </tr>
            <td>03/10/2017</td>
                <td>£342</td>
                <td>debit</td>
                <td></td>
            </tr>   
            <tr>
                <td>30/10/2017</td>
                <td>£14,000</td>
                <td>credit</td>
                <td>£2,310</td>
            </tr>
            <tr>
                <td>23/11/2017</td>
                <td>£1,311</td>
                <td>debit</td>
                <td></td>
            </tr>
        </table>
                    </br>

        <p>Flat-rate VAT amount due: £4,290</p>

        <p>If you agree with this value, please click approve to be directed to your bank and approve payment</p>
        <p>
            <a class="button button--get-started"  role="button">Continue</a>
        </p>
    </div>
}
