@(liUser: String, dlFiles: Seq[String],
        fileLimit: Int)(implicit requestHeader: RequestHeader)
@layout("Your SDES dashboard", Option(liUser)) {

    <div class="content__body">
        <h1>Your SDES dashboard</h1>

        <section class="section divider--bottom">
            <h2>Upload documents</h2>
            <br>
            <ul>
                <li class="section__li">
                    <a id="upload-link" href="@controllers.routes.SdesController.uploadPage()" class="button--secondary">
                        Upload Documents
                    </a>
                </li>
            </ul>
            <br>
        </section>

        <section class="section divider--bottom downloads-available">
            <h2>Download documents from HMRC</h2>

          @defining( if (dlFiles.length > fileLimit) fileLimit else dlFiles.length) { numFiles =>
            <ul>
              @for(file <- dlFiles.take(numFiles)) {
                <li>
                    <span class="filename">
                        @file
                    </span>
                    <span class="download-button">
                        <a class="button--secondary" href='@controllers.routes.RedirectController.download(file)'>download</a>
                    </span>
                </li>
              }
            </ul>
          }
          @if(dlFiles.length > fileLimit) {
            <div>
                <ul>
                    <li><a href='@controllers.routes.SdesController.moreFiles(dlFiles)'>View all your downloads from HMRC</a></li>
                </ul>
            </div>
          }
        </section>

    </div>

  @partials.rightSideBar(Some(liUser))

}
