<footer class="group js-footer" id="footer" role="contentinfo">

    <div class="footer-wrapper">


        <div class="footer-meta">
            <div class="footer-meta-inner">

                <div class="open-government-licence">
                    <h2><a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3" target="_blank"><img src="@routes.Assets.versioned("template/images/open-government-licence_2x.png")" alt="Open Government Licence"></a></h2>
                    <p>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3" target="_blank">Open Government Licence v3.0</a>, except where otherwise stated</p>
                </div>
            </div>

            <div class="copyright">
                <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
            </div>
        </div>
    </div>
</footer>

<!-- Comment these out for now -->
<!--script src="@routes.Assets.versioned("2.236.0/javascripts/application.min.js")" type="application/javascript"></script-->
<!--script src="@routes.Assets.versioned("javascripts/sdes.js")" type="application/javascript"></script-->
<script src="@routes.Assets.versioned("javascripts/sdes.js")" type="application/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/events.js")" type="application/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/ajaxMonitor.js")" type="application/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/model.js")" type="application/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/dropzone.js")" type="application/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/files.js")" type="application/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/render.js")" type="application/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/validate.js")" type="application/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/notify.js")" type="application/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/upload.js")" type="application/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/script.js")" type="application/javascript"></script>
