@()
<aside class="sidebar">

    <div class="section--blue-top sidebar--hidden-sm"></div>

    <section>
        <h2 class="heading-medium" id="subsection-title">Secure Data Exchange Services</h2>

        <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
                <li><a href="#">Register to use SDES</a></li>
                <li><a href="#">Get help with SDES</a></li>
                <li><a href="#">Register with Government Gateway</a></li>
            </ul>
        </nav>
    </section>

</aside>